* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #3369b6;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #22477a;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #e3a9b2;
  color: #333333;
  font-family: "Special Elite", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Special Elite", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #3369b6;
  text-decoration: none; }
  a:hover {
    color: #22477a; }
  a:active, a:focus {
    color: #22477a;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Special Elite", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Special Elite", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #3369b6;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(45, 94, 162, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.site-header {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 82.97872%;
  margin-left: 8.51064%;
  margin-top: 3em; }
  .site-header:last-child {
    margin-right: 0; }
  .site-header:after {
    content: "";
    display: table;
    clear: both; }
  .site-header img {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 12.82051%;
    float: left;
    border-radius: 100%;
    border: solid #3369b6 0.15em; }
    .site-header img:last-child {
      margin-right: 0; }
  .site-header .right_header h2 {
    float: left;
    display: block;
    margin-right: 3.0303%;
    width: 33.33333%;
    padding: 2.12766%;
    display: inline;
    padding-top: 0.3em; }
    .site-header .right_header h2:last-child {
      margin-right: 0; }
  .site-header .right_header p {
    float: left;
    display: block;
    margin-right: 3.0303%;
    width: 44.24242%;
    padding: 2.12766%;
    display: inline;
    padding-top: 0.5em;
    text-align: right; }
    .site-header .right_header p:last-child {
      margin-right: 0; }
  .site-header .right_header .site-nav {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
    background-color: #f7bdc6;
    padding: 0.3em 0;
    border-radius: 0.5em; }
    .site-header .right_header .site-nav:after {
      content: "";
      display: table;
      clear: both; }
    .site-header .right_header .site-nav:last-child {
      margin-right: 0; }
    .site-header .right_header .site-nav ul {
      margin-left: 15.38462%;
      width: 100%; }
      .site-header .right_header .site-nav ul li {
        display: table-cell;
        width: 1%; }
    .site-header .right_header .site-nav a {
      padding: 0.5em;
      background-color: #3369b6;
      color: #000552;
      border-radius: 0.5em; }
    .site-header .right_header .site-nav a:hover {
      background-color: #000552;
      color: #97cdff; }

.site-footer {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 82.97872%;
  margin-left: 8.51064%;
  border-top: black solid 0.1em;
  padding-top: 0.5em; }
  .site-footer:last-child {
    margin-right: 0; }
  .site-footer * {
    text-align: center; }
  .site-footer .ext-links {
    display: inline; }
    .site-footer .ext-links li {
      display: inline;
      font-size: 1.5em;
      padding: 0 0.5em; }

.contact-list {
  font-size: 1.55em; }

.grid-items-lines {
  position: relative; }
  .grid-items-lines:after {
    content: "";
    display: table;
    clear: both; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 14em;
    background: #e3a9b2;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.33333%; } }
    .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: .2; }
  .grid-items-lines .grid-item h1 {
    color: #333333;
    font-size: 1.3em;
    margin-bottom: .4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6); }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: #e3a9b2; }
  .grid-items-lines .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: #e3a9b2; }

.full-contain {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .full-contain:after {
    content: "";
    display: table;
    clear: both; }
  .full-contain .page-content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 12.76596%;
    margin-right: 0; }
    .full-contain .page-content:last-child {
      margin-right: 0; }
  .full-contain #pretty_punim {
    float: right;
    width: 45%;
    margin: 0 0 0.5em 0.5em;
    border-radius: 0.5em; }
  .full-contain iframe {
    height: 12em;
    width: 12em;
    float: right;
    margin: 0 0 0.2em 0.2em; }
  .full-contain .post {
    padding: 1em; }
