* {
  color: green;
  background-color: yellow;

}


/*body {
  font-family: 'Rock Salt', 'Normal 400';
  background-color: red;
}

header  {
      text-align: center;
      background-color: rgb(169, 107, 52);
      background-size: cover;
      color: white;
}

a {
  color: white;
}
h1  {
  font-size: 70px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul  {
  padding: 10px;
  background: rgb(107, 122, 116);
}
.line {
  display: inline;
  padding: 0px 10px 0px 10px;
}

#content {
  margin: auto;
  padding: 10px;
  width: 65%;
  text-align: center;
  background-color: rgb(153, 183, 129);

}*/