@charset "utf-8";

@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';
@import 'partials/hover';
@import 'partials/modal';
@import 'partials/hero';
@import 'partials/code';



section {
	@include outer-container;

	.main {
		@include span-columns(8);
		@include shift(2);
		@include clearfix;

		.center {text-align: center;
			margin: 0 auto;}
		
		.first {margin-top: 1.5em;}
		ol {
			margin: 1em auto;
			width: 60%;
			display: block;

			li {padding: .5em;}		
			
		}

		.button {
			@include shift(4);
			margin: 0 auto;
		}
	}

}
