.site-footer {
	@include span-columns(10);
	@include shift(1);

	border-top: black solid 0.1em;
	padding-top: 0.5em;

	* {
		text-align: center;
	}

	.ext-links {display: inline;
		li {
			display: inline;
			font-size: 1.5em;
			padding: 0 0.5em;
		}
	}
}

