<footer class="site-footer">

  <div class="wrap">

    <h3>{{ site.title }}</h3>


    <ul class="ext-links">
        <li><a href="mailto:frosenox@gmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://plus.google.com/u/0/+AviFoxRosen/"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://github.com/avifoxi"><i class="fa fa-github"></i></a></li>
        <li><a href="http://avifoxrosen.bandcamp.com/"><i class="fa fa-music"></i></a></li> 

        <li><a href="https://twitter.com/avifoxrosen"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/avi.foxi"><i class="fa fa-facebook"></i></a></li> 


      </ul>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
