<footer class="site-footer">

  <div class="wrap">
  <div class="grid">


    <div class="col-1-3 index-col">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/avifoxrosen"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/avifoxi"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/avi-fox-rosen/2a/b79/1b0"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

    
    <div class="col-1-3 index-col">
      <p class="text">{{ site.description }}</p>
    </div>

    <div class="col-1-3 index-col">
      <a class="twitter-timeline" 
      href="https://twitter.com/avifoxrosen" 
      data-widget-id="325871575284989953"
      width="250"
      height="100"
      >Tweets by @avifoxrosen</a>

    </div>



  </div>
</div>
  


</footer>
