body {
	background-image: url("../images/notebook.png");
	background-repeat:repeat;
}


.typewriter {
	color: black;
	font-family: 'Special Elite', 'Normal 400';
	padding: 1.8em;	
	text-align: center;
	line-height: 1.5em;
}

.typewriter h1 {
	font-size: 2em;
}

.typewriter span {
	font-size: 1.3em;
}

.typewriter ul {
	list-style-image: url('../images/typist.jpg');
	list-style-image-width: 1.5em;
}


#intro {
	border-bottom: dotted; 
	width: 60%;
	padding: 1em;
	margin: 2em auto 0 auto;
	/*color: red;*/

}

#about {
	width: 35%;
	margin: 2em auto 0 auto;
	border-bottom: dotted; 

}

#looks img, h3 {display: inline-block;}

#blocky {
	width: 100px;
	margin: 5em;
}

#whylist {
	width: 40%;
	margin: 2em auto 0 auto;
	border-top: dotted;
	border-bottom: dotted; 
}

#whylist li { margin-top: .5em;}

#whylist ol ol li { text-align: right; }

#contact { 
	width: 30%; 
	margin: auto;
	border-bottom: dotted;
		
}



















