/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0;
 }
 
.left li, .right li {
	list-style-type: none;
	margin: .6em auto;
	display: inline-block;
}
 
 body {
	 background-color:rgb(227, 169, 178) ;
 }

a {
	color:rgb(139,130,62);
}

a:hover {
	background-color:rgb(135,200,217);
/* 	font-size:1.5em; */
	border-radius: 100%;
	color: white;
}


.wrap {
	position: relative;
	width: 80%;
	margin: 0 auto;
	margin: 3em auto;
	font-family: 'Special Elite', 'Normal 400';

}

.left {
/*	display: inline-block;
*/
	border: .15em dotted black;
/* 	float:left; */
	background-color: rgb(227, 169, 178);
	padding: .5em;
	background-image: url('../images/linedpaper.png');
	background-repeat: repeat;	
/*	position:fixed;
	left:1em;
*/
}

.left h1 {
	text-align: center;
	font-size: 1.68em;
}
.left h2, .main h2 {
	text-align: center;
	font-size: 1.38em;
	margin-top:.45em;

}
.left img {
	display: none;	
}

.left li {
	display: inline-block;
/* 	margin-top: 3em; */
/* 	text-align: center; */
}

/*#faceContain {
	margin-top: .5em;
	width: 84%;
	
	position: relative;
	left: 1.3em;
}*/

.main {
	border: .16em solid black;
/* 	display: inline; */
/* 	position: fixed; */
	left: 22%;
	background-image: url('../images/linedpaper.png');
	background-repeat: repeat;	
	margin-left: .3em;
	margin-top: 2em;
}

.main h1 {
	font-size: 1.6em;
	text-align: center; 
	padding: .5em;
	margin-top: .7em; 
	
}



.week {
/* 	float: left; */
	width: 80%;
	border: .15em dotted black;
	border-radius:.6em;
	margin: .3em auto;
/* 	background-image: url('http://vanimg.s3.amazonaws.com/paper-32.jpg');
	background-repeat: repeat; */
/*	font-family: 'Patrick Hand', 'Normal 400';
*/
	font-size: 1em;

}


.week a {
	color:black;
}

/* .week a:hover {
	color:white;
} */
.week h2 {
	margin-top: .5em;
	text-align: center;
	font-size: 1.7em;
}

.week li{
	padding: .3em;
}

.right {
/* 	width: 12%; */
	border: .15em dotted black;
	width: 80%;
	margin: 0 auto;
	background-image: url('../images/linedpaper.png');
	background-repeat: repeat;		
	padding: .5em .5em .5em 0;

}

.right a {
	font-size: 1.5em;
	margin: 0 auto 0 1.8em;
	
}




.left, .right, .main {
	border-radius: 1em;
}


/*@media screen and (max-width: 900px)	{
	.left {
		position: relative;
		top: 1em;
		margin: 0 auto;
		width: 70%;
		left: 15%;
	}
	
	.main {
		position: relative;
		clear: both;
		
	}
	
	.week {
		position:relative;
	}

}

*/

